<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">
 

	<!-- 数据配置 -->
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
		<property name="url" value="jdbc:oracle:thin:@localhost:1521:shang"/>
		<property name="username" value="c##sq"/>
		<property name="password" value="oracle"/>
		 <!--maxActive: 最大连接数量-->    
        <property name="maxActive" value="50"/>  
        <!--minIdle: 最小空闲连接-->    
       	<property name="minIdle" value="5"/>    
        <property name="maxIdle" value="20"/>   
        <property name="initialSize" value="60"/>
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
				org.hibernate.dialect.Oracle9Dialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.autoReconnect">true</prop>
<!-- 				<prop key="hibernate.hbm2ddl.auto">create</prop>
 -->			</props>
		</property>
		<property name="mappingLocations">
			<list>
				<value>classpath:com/admin/*/entity/*.hbm.xml</value>
			</list>
		</property>
	</bean>
	
	<!-- 事务管理 -->
		<bean id="txManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="find*" read-only="true"/>
			<tx:method name="get*" read-only="true"/>
			<tx:method name="list*" read-only="true"/>
			<tx:method name="*" propagation="NESTED" rollback-for="Throwable"/>
		</tx:attributes>
	</tx:advice>
	
	
	<aop:config >
	<aop:pointcut expression="execution(* com.admin..service.impl.*.*(..))" id="pt"/>
	<aop:advisor advice-ref="txAdvice" pointcut-ref="pt"/>
	</aop:config>
	
	<!-- 公共的dao -->
	<bean id="baseDao" abstract="true">
    	<property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

	<!-- 工具包bean -->

	<!-- 导入 -->
	    <import resource="classpath:com/admin/*/conf/*-spring.xml"/>

</beans>     










